.navbar-responsive {
  display: none;
}

@media ( max-width : 768px ) {

  .logo-navbar {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .logo {
    width: 100px;
  }

  .navbar-responsive {
    color: white;
    display: block;
    padding: 10px 0;
    position: absolute;
    width: 100%;
  }

  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
  }

  .navbar-logo {
    font-size: 24px;
    font-weight: 700;
  }

  .navbar-links {
    background-color: #006494;
    color: white;
    display: none;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    left: 0%;
    padding: 0 40px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
  }

  .navbar-links a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
  }

  .link {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .user {
    margin: 0;
    padding: 0;
  }

  .user-name {
    color: white;
    font-size: 1.3rem;
  }

  .menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1000;
  }

  .bar {
    background-color: white;
    height: 5px;
    margin: 3px 0;
    transition: 0.4s;
    width: 25px;
  }

  .active .bar:nth-child( 1 ) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .active .bar:nth-child( 2 ) {
    opacity: 0;
  }

  .active .bar:nth-child( 3 ) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navbar-links.active {
    display: flex;
  }
}
