/*
 CSS Spinner
*/

.box-spinner {
  align-items: center;
  display: flex;
  gap: 10px;
  margin: 20px 40px;
  position: relative;
}

.text-spinner {
  color: rgba(0, 59, 229, 1);
  font-family: Epilogue , sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.spinner {
  animation: spin 3s linear infinite; /* Animação de rotação */
  background-color: transparent;
  background-image: url('../../images/spinner.png');
  height: 40px; /* Altura do spinner */
  width: 40px; /* Largura do spinner */
}

/* Animação de rotação */

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}
