.album-container {
  background: rgba(239, 243, 249, 1);
  height: auto;
  width: 100%;
}

.album-header {
  background-image: url('../images/bg_album.png') , linear-gradient(135deg, rgb(0, 59, 229, 1), rgb(0, 213, 226, 1));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}

.wrapper-album {
  padding: 170px 380px;
}

.album-name {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.album-artist {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.album-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.album-cover {
  padding: 20px;
  width: 20%;
}

.album-cover img {
  border-radius: 12px;
  bottom: 140px;
  box-shadow: -8px 8px 8px 1px rgba(68, 73, 85, 0.2);
  height: 240px;
  position: relative;
  width: 240px;
}

.album-music {
  padding: 20px;
  width: 60%;
}

.loading-album {
  display: flex;
  justify-content: center;
  margin: 100px;
}

@media only screen and ( max-width : 480px ) {

  .album-header {
    height: 200px;
  }

  .wrapper-album {
    padding: 10px;
    text-align: center;
  }

  .album-music {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 100%;
  }

  .music {
    display: flex;
    flex-direction: column;
  }

  .music-card {
    align-items: flex-start;
    border-bottom: 1px solid gainsboro;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    margin: 20px 0;
    width: 100%;
  }

  .music-name {
    width: 100%;
  }

  .album-cover {
    height: 140px;
    padding: 20px;
    text-align: center;
    width: 100%;
  }
}
