header {
  display: flex;
  flex-flow: column nowrap;
  height: 720px;
  justify-content: space-between;
  width: 250px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 54px;
  height: auto;
  width: 100%;
}

nav > a {
  text-decoration: none;
}

.header-logo {
  height: 95px;
  margin: 33.59px 40px;
  width: 170px;
}

.navbar {
  margin: 0 40px;
}

.navbar a {
  color: rgba(68, 73, 85, 1);
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 16px;
  text-align: left;
}

.nav-link {
  display: flex;
  gap: 30px;
}

.icon {
  gap: 10px;
}

.user {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: first baseline;
  margin: 20px 40px;
}

.box-spinner {
  height: auto;
  margin: 0;
}

.image-user {
  background-color: #d6d6d6;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.user-name {
  color: rgba(68, 73, 85, 1);
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 16px;
}

.loading-header {
  margin: 20px 40px;
}
