/*
 CSS Spinner
*/

.spinner {
  animation: spin 3s linear infinite; /* Animação de rotação */
  background-color: transparent;
  background-image: url('../images/spinner.png');
  height: 62px; /* Altura do spinner */
  width: 62px; /* Largura do spinner */
}

/* Animação de rotação */

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}
