.music-card {
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

.music-name {
  width: 20%;
}

.music-name p {
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

.music-audio {
  border: 2px solid white;
  border-radius: 10px;
  width: 50%;
}

.music-favorite {
  width: 10%;
}
