.container-edit-profile {
  background-color: rgb(239, 243, 249);
  height: auto;
  width: 100%;
}

.header-edit-profile {
  background-image: url('../images/bg_editProfile.png') , linear-gradient(135deg, rgb(0, 59, 229, 1), rgb(0, 213, 226, 1));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  width: 100%;
}

.main-edit-profile {
  background-color: rgb(239, 243, 249);
  display: flex;
  flex-flow: row nowrap;
  height: auto;
  justify-content: space-around;
  margin-bottom: 30px;
  width: 100%;
}

/*
    Image user
*/

.image-user-profile {
  bottom: 110px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 35%;
}

.image-user-edit-profile {
  background-color: rgb(143, 188, 255);
  border: 1px solid silver;
  border-radius: 240px;
  box-shadow: -9px 8px 8px 0 #0033;
  height: 240px;
  width: 240px;
}

/*
    Form edit
*/

.form-edit-profile {
  padding: 20px 0;
  width: 65%;
}

.input-edit {
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 87px;
  line-height: 18px;
  margin-bottom: 26px;
  width: 346px;
}

.input-edit > p {
  color: rgb(61, 73, 92);
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 6px;
}

.input-edit > input {
  border: none;
  border-bottom: 2px solid #0033;
  color: rgb(159, 161, 164);
  height: 37px;
  padding: 10px;
  width: 288px;
}

/*
    Input E-mail
*/

.input-edit-email {
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  width: 346px;
}

.input-edit-email > p {
  color: rgb(61, 73, 92);
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 6px;
}

.input-icon-edit > input {
  border: none;
  border-bottom: 2px solid #0033;
  color: rgb(159, 161, 164);
  height: 37px;
  margin-bottom: 26px;
  margin-right: 10px;
  padding: 10px;
  width: 288px;
}

/*
    Input description
*/

.input-edit-description {
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 135px;
  line-height: 18px;
  margin-bottom: 26px;
  width: 346px;
}

.input-edit-description > textarea {
  border: none;
  border-bottom: 2px solid #0033;
  color: rgb(159, 161, 164);
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 106px;
  line-height: 21px;
  margin-top: 5px;
  padding: 10px;
  width: 490px;
}

input:focus, textarea:focus {
  outline: 1px solid silver;
}

/*
    Input Image url
*/

.input-edit-image-url {
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  width: 346px;
}

.input-edit-image-url > p {
  color: rgb(61, 73, 92);
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 6px;
}

.input-icon-edit-url > input {
  border: none;
  border-bottom: 2px solid #0033;
  color: rgb(159, 161, 164);
  height: 37px;
  margin-bottom: 26px;
  margin-right: 10px;
  padding: 10px;
  width: 288px;
}

/*
    Button save
*/

.button-save-form > button {
  background: rgb(0, 59, 229);
  border: none;
  border-radius: 100px;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 152px;
}

/*
    Icons Validate
*/

.icon-invalid {
  color: red;
  height: 20px;
  width: 20px;
}

.icon-valid {
  color: green;
  height: 20px;
  width: 20px;
}

/*
    Loading spinner
*/

.loading-profile-edit {
  align-content: center;
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
  width: 100%;
}
