.section-search {
  height: 720px;
  width: 100%;
}

.logo-mobile {
  display: none;
}

.form {
  align-items: center;
  background-image: url('../images/bg_search_blue.png') , linear-gradient(135deg, rgb(0, 59, 229, 1), rgb(0, 213, 226, 1));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 220px;
  justify-content: center;
  width: 100%;
}

.search-input-form {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 23px;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  padding: 0 20px;
  text-align: left;
  text-transform: uppercase;
  width: 400px;
}

.search-input-form::placeholder {
  color: white;
}

.icon-search {
  color: white;
  position: relative;
  right: 30px;
}

.search-button-form {
  background: rgba(0, 213, 226, 1);
  border: none;
  border-radius: 23px;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 13px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  text-transform: uppercase;
  width: 114px;
}

.result-search {
  background: rgba(239, 243, 249, 1);
  height: 500px;
  width: 100%;
}

.loading-search {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
}

/*
*  Error Message - Search not found
*/

.circle-error {
  padding-bottom: 20px;
}

.search-error-message {
  color: rgb(192, 195, 201);
  font-family: Epilogue , sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
}

@media only screen and ( max-width : 480px ) {

  .logo-mobile {
    display: block;
    margin-bottom: 30px;
    width: 100px;
  }

  .section-search {
    height: auto;
    width: 100%;
  }

  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 100%;
  }

  .search-form {
    display: flex;
  }

  .search-input-form {
    background: rgb(0 0 0 / 50%);
    border: none;
    border-radius: 23px;
    color: white;
    font-family: Epilogue , sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    letter-spacing: 0.03em;
    line-height: 14px;
    padding: 0 20px;
    text-align: left;
    text-transform: uppercase;
    width: 70%;
  }

  .icon-search {
    color: white;
    position: relative;
    right: 30px;
    top: 13px;
  }

  .search-button-form {
    background: rgba(0, 213, 226, 1);
  }
}
