/*
*  Page Login CSS
*/

.container-login {
  height: 100vh;
  position: relative;
  width: 100%;
}

.section-login {
  align-items: center;
  background-image: url('../../images/bg_blue.png') , linear-gradient(135deg, rgb(0, 59, 229, 1), rgb(0, 213, 226, 1));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.container-login {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 26px 0 rgba(68, 73, 85, 0.2);
  display: flex;
  flex-flow: column;
  height: 350px;
  justify-content: center;
  width: 650px;
}

.img-logo {
  width: 185px;
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.input-login {
  border: 1px solid rgb(0, 59, 229);
  border-radius: 100px;
  color: rgba(0, 59, 229, 1);
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  margin-top: 40px;
  text-align: center;
  width: 400px;
}

.input-login::placeholder {
  color: rgba(0, 59, 229, 1);
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.button-login {
  background: rgb(0, 59, 229);
  border: 1px solid rgb(0, 59, 229);
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  text-transform: uppercase;
  width: 400px;
}

/*
  CSS Loading Spinner Login
*/

.loading-login {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.spinner-login {
  animation: spin 3s linear infinite; /* Animação de rotação */
  background-image: url('../images/spinner-login.png');
  height: 62px; /* Altura do spinner */
  margin: 0 auto;
  width: 62px; /* Largura do spinner */
}

.spinner-text {
  color: rgba(0, 59, 229, 1);
  font-family: Epilogue , sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 50px;
  margin-top: 20px;
  text-align: center;
}

/* Animação de rotação */

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}

/*
*  Responsive CSS
*/

@media only screen and ( max-width : 240px ) {

  .img-logo {
    width: 80%;
  }
}

@media only screen and ( max-width : 480px ) {

  .login {
    height: auto;
    margin: 20px;
    padding: 20px 0;
    width: 100%;
  }

  .form-login {
    align-items: center;
    padding: 0 20px;
  }

  .input-login {
    width: 100%;
  }

  .button-login {
    width: 100%;
  }
}

@media only screen and ( min-width : 481px ) and ( max-width : 680px ) {

  .login {
    height: auto;
    margin: 20px;
    padding: 20px 0;
    width: 100%;
  }
}
